.Main {
  padding-left: 2%;
  padding-right: 3%;
}

#Intro {
  display: flex;
  flex-direction: column;
  margin: 8% 0;
  padding: 0 2%;
}

@media (max-width: 767px) {
  #Intro {
    font-size: 1.58rem;
  }
}

#H1 {
  font-family: inherit;
  font-size: 3rem;
  display: inline-block;
  margin: 0;
}

.H2 {
  max-width: fit-content;
  margin: 0;
  font-size: 2rem;
  font-family: "SuitSemiBold", var(--default-font-family);
  font-weight: 600;
}

@media (max-width :767px) {
  .H2 {
    font-size: 1.3rem;
  }
}

#MainIntro {
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-top: 5%; 
}

#SubIntro {
  padding: 0 0 0 2.1%;
}

.CardContainer {
  display: grid;
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-template-columns: repeat(3, minmax(20%, 30%));
  gap: 1%;
  justify-content: space-between;
  align-content: space-evenly;
  align-items: center;
  justify-items: center;
  padding: 2% 0 0 0;
}

.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.375rem;
  transition-timing-function: cubic-bezier(0.2,0.0,0,1.0);
  transition-property: border-color, box-shadow;
  transition-duration: 200ms;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: #e9e8e6;
  box-sizing: border-box;
  padding: 1%;
}

.Card:hover {
  background-color: #f4f4f5;
}

.CardA {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  text-decoration: none;
  color: inherit;
}

.CardA:hover {
  text-decoration: none;
}

.CardA:hover {
  text-decoration: none !important;
}

.CardIcon {
  aspect-ratio: 1/1;
}

.CardTitle, .CardDesc {
  width: 98%;
  padding: 0 1%;
}

.CardTitle {
  margin-top: 5%;
  align-items: start;
  display: inline-block;
}

.CardDesc {
  display: inline-block;
  align-items: start;
}