.Main {
  padding-left: 2%;
  padding-right: 3%;
}

#Intro {
  padding: 0 2%;
  font-family: "SuitExtraBold", var(--default-font-family);
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  margin: 10% 0;
}

@media (max-width: 767px) {
  #Intro {
    font-size: 1.58rem;
  }
}

#H1 {
  font-family: inherit;
  font-size: inherit;
  display: inline-block;
  margin: 1% 0;
}

#Mark,
#H2 {
  max-width: fit-content;
  border-radius: 6px;
  padding: 1%;
  color: #54abf3;
  background-color: #cff9ff;
}

@media (prefers-color-scheme: dark) {
  #Mark,
  #H2 {
    color: #8dd9ff;
    background-color: #132b35;
  }
}

#Mark {
  font-family: inherit;
  font-size: inherit;
  flex: 0 0 auto;
}

#MainIntro {
  padding: 0 2%;
  display: inline-block;  
}

#H2 {
  font-family: "SuitBold", var(--default-font-family);
  font-size: 2rem;
}

@media (max-width :767px) {
  #H2 {
    font-size: 1.3rem;
  }
}

.Card {
  padding: 0.5%;
  margin-bottom: 4%;
}

.CardIcon {
  aspect-ratio: 1/1;
  max-width: 20%;
}

.CardDesc {
  height: 100%;
  padding: 1%;
  width: fit-content;
}

.CardTtl {
  font-family: "SuitBold", var(--default-font-family);
  font-size: 1.5rem;
}

.CardDescTxt {
  font-family: "SuitMedium", var(--default-font-family);
  white-space: pre-wrap;
  margin-top: 5%;
  font-size: 1.3rem;
}
