.Header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.H {
    display: inline-block;
}

.Header > h1 {
    font-family: "SuitSemiBold", var(--default-font-family);
    font-weight: 600;
}

.Header > h2 {
    font-family: "SuitMedium", var(--default-font-family);
    font-weight: 500;
}

.Container {
    display: flex;
    justify-content: center;
}

.ResultWrapper {
    min-width: 40%;
    border-radius: var(--border-radius);
    border-width: 1px;
    border-color: var(--border-color);
    display: flex;
    flex-direction: column;
    align-items: start;
}

