.Main {
    overflow-x: auto;
    align-items: center;
    justify-content: center;
}

.TmpDiv {
    font-family: monospace;
    font-size: xx-small;
    white-space: pre;
    line-height: 1;
    visibility: hidden;
    position: absolute;
}

.Container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Img {
    max-width: 75%;
}

.Span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    height: 100%;
}

.BtnWrapper {
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.Btn {
    width: fit-content;
    font-size: 1.5rem;
}

.ResultWrapper {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.ResultContainer {
    white-space: pre;
    font-family: monospace;
    font-size: xx-small;
    line-height: 1;
    --scale-value: 1;
    transform: scale(var(--scale-value));
    transform-origin: top center;
}