.Main {
    overflow-x: auto;
    max-width: 100%;
}

.Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0.25rem;
    padding: 2%;

}

.Container {
    display: inline-block;
}

.Img {
    width: 100%;
}

.BtnWrapper {
    display: flex;
    gap: 2rem;
}

.ResultContainer {
    white-space: pre;
    margin-top: 5%;
    font-family: monospace;
    font-size: 6px;
    line-height: 1;
    overflow: auto;
    max-width: 100%;
}

@media (max-width: 768px) {
    .ResultContainer {
        font-size: 4px;
    }
}

@media (max-width: 480px) {
    .ResultContainer {
        font-size: 3px;
    }
}

