.A {
  text-decoration: none;
  display: inline-block;
  color: inherit;
  position: relative;
  box-sizing: border-box;
}

.A::after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  border-bottom: 2px solid #bdbdbd;
  height: 1px;
  transform: translateY(-0.2rem);
  opacity: 0;
  transition: all 0.5s;
}

.A:hover::after {
  opacity: 1;
  transform: translateY(0.1rem);
}