.Btn {
  display: block;
  text-align: center;
  border-radius: 6px;
  min-width: 40px;
  min-height: 40px;
  cursor: pointer;
  border-width: 0px;
  box-sizing: border-box;
  background-color: var(--bg-reversed-color);
  color: var(--text-reversed-color);
}

.Btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}