.Btn {
  display: inline-flex;
  text-align: center;
  align-items: center;
  border-radius: 6px;
}

@media (prefers-color-scheme: light) {
  .Btn {
    background-color: #18181b;
    color: #ffffff;
  }
}

@media (prefers-color-scheme: dark) {
  .Btn {
    background-color: #ffffff;
    color: #09090b;
  }
}
