.Btn {
  display: inline-block;
  text-align: center;
  align-items: center;
  border-radius: 6px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 4px;
  background-color: #18181b;
  color: #ffffff;
  font-size: 1rem
}

@media (prefers-color-scheme: dark) {
  .Btn {
    background-color: #ffffff;
    color: #09090b;
  }
}