.Card {
  display: flex;
  flex-direction: row;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--border-light-color);
}

@media (prefers-color-scheme: dark) {
  .Card {
    border-color: var(--border-dark-color);
  }
}

.CardDesc {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}