.Card {
  display: flex;
  flex-direction: row;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--border-color);
}

.CardDesc {
  display: flex;
  flex-direction: column;
}