.CloseBtn {
  min-width: 20px;
  aspect-ratio: 1/1;
  display: inline-block;
  color: var(--svg-light-color);
}

@media (prefers-color-scheme: dark) {
  .CloseBtn {
    color: var(--svg-dark-color);
  }
}

.CloseBtnSvg {
  min-width: 20px;
  aspect-ratio: 1/1;
  color: var(--svg-light-color);
}

@media (prefers-color-scheme: dark) {
  .CloseBtnSvg {
    color: var(--svg-dark-color);
  }
}