@media (prefers-color-scheme: light) {
  .CloseBtn {
    color: var(--svg-light-color);
  }
}

@media (prefers-color-scheme: dark) {
  .CloseBtn {
    color: var(--svg-dark-color);
  }
}

.CloseBtn {
  min-width: 20px;
  aspect-ratio: 1/1;
  display: inline-block;
}

.Svg {
  min-width: 20px;
  aspect-ratio: 1/1;
  display: block;
}