:root {
    /*bg color*/
    --bg-light-color: #ffffff;
    --bg-dark-color: #09090b;
    --bg-color: var(--bg-light-color);
    --bg-reversed-color: var(--bg-dark-color);

    /*svg color*/
    --svg-light-color: #454746;
    --svg-dark-color: #c4c8c6;
    --svg-color: var(--svg-light-color);

    /*text color*/
    --text-light-color: #09090b;
    --text-dark-color: #fafafa;
    --text-color: var(--text-light-color);
    --text-reversed-color: var(--text-dark-color);

    /*border color*/
    --border-light-color: #c8cccf;
    --border-dark-color: #27272a;
    --border-color: var(--border-light-color);

    --input-focus-box-shadow-color: #a1a1aa;

    --border-radius: calc(0.125rem + 1px);
    
    --error-light-color: #ef4444;
    --error-dark-color: #f87171;
    
    --label-disabled-light-color: #848485;
    --label-disabled-dark-color: #818182;
    --label-disabled-color: var(--label-disabled-light-color);

    /*checkbox */
    --checkbox-invalid-color: #dc2626;
    
    --checkbox-disabled-light-color: #8b8b8c;
    --checkbox-disabled-dark-color: #838385;
    --checkbox-disabled-color: #8b8b8c;

    --checkbox-disabled-label-light-color: #e4e4e7;
    --checkbox-disabled-label-dark-color: #838385;
    --checkbox-disabled-label-color: var(--checkbox-disabled-light-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: var(--bg-dark-color);
        --bg-reversed-color: var(--bg-light-color);
        --svg-color: var(--svg-dark-color);
        --text-color: var(--text-dark-color);
        --text-reversed-color: var(--text-light-color);
        --label-disabled-color: var(--label-disabled-dark-color);
        --input-disabled-border-color: var(--input-disabled-dark-border-color);
        --border-color: var(--border-dark-color);
        --checkbox-disabled-color: var(--checkbox-disabled-dark-color);
        --checkbox-disabled-label-color: var(--checkbox-disabled-label-dark-color);
    }
}