.Backdrop {
    position: fixed;
    inset-inline-start: 0;
    top: 0;
    width: 100vw;
    height: 100dvh;
    z-index: 1300;
    pointer-events: none;
    background-color: transparent;
    padding: 0;
    margin: 0;

    transition: background-color 0.5s cubic-bezier(.2, .8, .2, 1);
}

.Backdrop[data-open] {
    background-color: rgba(0, 0, 0, 0.36);
}

.Positioner {
    width: 100vw;
    height: 100dvh;
    position: fixed;
    top: 0;
    overscroll-behavior-y: none;
    z-index: 1400;
    pointer-events: none;
    background-color: transparent;

    margin: 0;

    display: flex;
    justify-content: center;
    padding-top: 9%;
}

.Dialog {
    font-size: var(--font-size-sm);
    opacity: 1;
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #ffffff;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 1%;
    max-width: 60%;
    min-width: 40%;
    max-height: 60%;
    min-height: 40%;

    margin: 0;
    padding: 2%;
}

.Dialog::-webkit-scrollbar {
    display: none;
}

@media (max-width < 768px) {
    .Dialog {
        max-width: 80%;
        min-width: 60%;
    }
}

/*Dialog 등장 애니메이션*/
.Dialog {
    transform: translateY(10%);
    transition:
        transform 0.5s cubic-bezier(.2, .8, .2, 1),
        /* 이동 애니메이션 */
        visibility 0s linear 0.5s;
    /* 닫힐 때 포인터 차단용 */
    will-change: transform;
}

/*Dialog 사라짐 애니메이션*/
.Dialog[data-open] {
    transform: translateY(0);
    transition: 
        transform 0.5s cubic-bezier(.2, .8, .2, 1) 
        visibility 0s linear 0.1s;
    will-change: transform;
}

.Dialog[data-open] {
    overflow-y: auto;
}

@media (prefers-color-scheme: dark) {
    .Dialog {
        background-color: #000000;
    }
}

.Dialog::backdrop {
    background-color: transparent;
    pointer-events: none;
}

.Title {
    display: flex;
    align-items: center;
}

.CloseBtn {
    background-color: var(--bg-color) !important;
    display: flex;
    align-items: center;
    margin-left: auto;
    border-width: 0;
}

.Body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.Footer {
    display: inline-block;
}

/* dialog가 열린 상태일 때에만 포인터 이벤트 허용 */
.Backdrop[data-open],
.Positioner[data-open] {
    pointer-events: auto;
}