.Backdrop {
    position: fixed;
    inset-inline-start: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1300;
    pointer-events: none;
    background-color: transparent;
    padding: 0;
    margin: 0;

    transition: background-color 0.5s cubic-bezier(.2, .8, .2, 1);
}

.Backdrop[data-open] {
    background-color: rgba(0, 0, 0, 0.36);
}

.Positioner {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    overscroll-behavior-y: none;
    z-index: 1400;
    pointer-events: none;
    background-color: transparent;

    padding: 0;
    margin: 0;
}

.Dialog {
    font-size: var(--font-size-sm);
    opacity: 1;
    display: flex;
    flex-direction: column;
    margin: 0;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
}

.Dialog::-webkit-scrollbar {
    display: none;
}

.Dialog[data-open] {
    overflow-y: auto;
}

@media (prefers-color-scheme: dark) {
    .Dialog {
        background-color: #000000;
    }
}

/*start, end */
.Dialog[data-placement="start"],
.Dialog[data-placement="end"] {
    min-width: 296px;
    max-width: calc(100vw - 64px);
    height: 100vh;
    max-height: 100vh;
}

/*start */
.Dialog[data-placement="start"] {
    left: 0;
}

.Dialog[data-placement="start"] {
    transform: translateX(-100%);
    transition:
        transform 0.5s cubic-bezier(.2, .8, .2, 1),
        /* 이동 애니메이션 */
        visibility 0s linear 0.5s;
    /* 닫힐 때 포인터 차단용 */
    will-change: transform;
}

.Dialog[data-open][data-placement="start"] {
    transform: translateX(0);
    visibility: visible;
    transition:
        transform 0.5s cubic-bezier(.2, .8, .2, 1),
        visibility 0s linear 0s;
}

/*end */
.Dialog[data-placement="end"] {
    right: 0;
}

/*end 애니메이션*/
.Dialog[data-placement="end"] {
    transform: translateX(100%);
    transition:
        transform 0.5s cubic-bezier(.2, .8, .2, 1),
        /* 이동 애니메이션 */
        visibility 0s linear 0.5s;
    /* 닫힐 때 포인터 차단용 */
    will-change: transform;
}

.Dialog[data-open][data-placement="end"] {
    transform: translateX(0);
    visibility: visible;
    transition:
        transform 0.5s cubic-bezier(.2, .8, .2, 1),
        visibility 0s linear 0s;
    /* 열 때는 즉시 visible 처리 */
}

/*top, bottom */
.Dialog[data-placement="top"], .Dialog[data-placement="bottom"] {
    min-height: 11rem;
    max-height: 20rem;
    width: 100%;
    max-width: 100%;
}

/*top */
.Dialog[data-placement="top"] {
    top: 0;
}

.Dialog[data-placement="top"] {
    transform: translateY(-100%);
    transition:
        transform 0.5s cubic-bezier(.2, .8, .2, 1),
        /* 이동 애니메이션 */
        visibility 0s linear 0.5s;
    /* 닫힐 때 포인터 차단용 */
    will-change: transform;
}

.Dialog[data-placement="top"][data-open] {
    transform: translateY(0);
    visibility: visible;
    transition:
        transform 0.5s cubic-bezier(.2, .8, .2, 1),
        visibility 0s linear 0s;
}

/*bottom */
.Dialog[data-placement="bottom"] {
    bottom: 0;
}

.Dialog[data-placement="bottom"] {
    transform: translateY(100%);
    transition:
        transform 0.5s cubic-bezier(.2, .8, .2, 1),
        /* 이동 애니메이션 */
        visibility 0s linear 0.5s;
    /* 닫힐 때 포인터 차단용 */
    will-change: transform;
}

.Dialog[data-placement="bottom"][data-open] {
    transform: translateY(0);
    visibility: visible;
    transition:
        transform 0.5s cubic-bezier(.2, .8, .2, 1),
        visibility 0s linear 0s;
}

.Dialog::backdrop {
    background-color: transparent;
    pointer-events: none;
}

.Title {
    display: flex;
    align-items: center;
}

.CloseBtn {
    background-color: var(--bg-color) !important;
    display: flex;
    align-items: center;
    margin-left: auto;
    border-width: 0;
}

.Body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.Footer {
    display: inline-block;
}

/* dialog가 열린 상태일 때에만 포인터 이벤트 허용 */
.Backdrop[data-open],
.Positioner[data-open] {
    pointer-events: auto;
}