.Root {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    gap: 0.375rem;
    align-items: flex-start;
    font-family: "SuitRegular", var(--default-font-family);
    font-weight: 400;
}

.Label {
    display: inline-block;
    width: 100%;
}

.Input {
    width: 100%;
    min-width: 2.5rem;
    outline: 0px;
    position: relative;
    appearance: none;
    text-align: start;
    border-radius: 0.25rem;
    height: 2.5rem;
    line-height: 1.25rem;
    padding-inline: 0.75rem;
    border-width: 1px;
    border-style: solid;
    border-color: #e4e4e7;
}

.Input::placeholder {
    color: #aaaaaf;
    font-family: "SuitRegular", var(--default-font-family);
    font-weight: 400;
}

@media (prefers-color-scheme: dark) {
    .Input {
        border-color: #24242a;
    }

    .Input::placeholder {
        color: #7f7f86;
    }
}

.HelperText {
    color: #52525b;
    font-size: 0.75rem;
    line-height: 1rem;
    display: inline-block;
}

@media (prefers-color-scheme: dark) {
    .HelperText {
        color: #a1a1aa;
    }
}

.ErrorText {
    display: inline-block;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #ef4444;
}

@media (prefers-color-scheme: dark) {
    .ErrorText {
        color: #f87171;
    }
}