.Root {
    display: flex;
    width: 100%;
    position: relative;
    gap: 0.375rem;
    align-items: flex-start;
    font-size: var(--font-size-md);
    z-index: 1;
}

.Label {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-align: start;
    font-size: var(--font-size-sm);
    line-height: 1.25rem;
    font-weight: 500;
    font-family: "SuitMedium", var(--default-font-family);
    gap: 0.25rem;
    user-select: none;
}

.RequiredIndicator {
    color: #ef4444;
    line-height: 1;
}

.Input {
    width: 100%;
    min-width: 2.5rem;
    position: relative;
    appearance: none;
    text-align: start;
    border-radius: 0.25rem;
    height: 2.3rem;
    font-size: var(--font-size-sm);
    line-height: 1.25rem;
    padding-inline: 0.75rem;
    border-width: 1px;
    border-style: solid;
    border-color: var(--border-color);
    box-sizing: border-box;

    outline-offset: 0px;
    outline-width: 0px;
    outline-color: #a1a1aa;
    outline-style: solid;

    color: var(--text-color);
    background-color: var(--bg-color);
    z-index: 2;
}

/*Input Focus*/
.Input[data-focus] {
    outline-width: 1px;
    border-color: #a1a1aa;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.HelperText {
    font-size: var(--font-size-xs);
    color: #52525b;
    line-height: 1rem;
}

.ErrorText {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 500;
    gap: 0.25rem;
    color: #ef4444;
    font-size: var(--font-size-xs);
    line-height: 1rem;
}

/*Vertical */
.Root[data-orientation="vertical"] {
    flex-direction: column;
}

/*Horizontal */
.Root[data-orientation="horizontal"] {
    flex-direction: row;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.Root[data-orientation="horizontal"] .Label {
    flex: 0 0 96px;
}

.Root[data-orientation="horizontal"] .Input {
    flex: 1 1 0%;
}

/*Invalid */
.Root[data-state="invalid"] .Input {
    border-color: #ef4444;
    outline-color: #ef4444;
}

.Root[data-state="invalid"] .Input[data-focus] {
    outline-width: 1px;
}

/*Disabled */
.Root[data-state="disabled"] .Label, 
.Root[data-state="disabled"] .Input,
.Root[data-state="disabled"] .HelperText {
    opacity: 0.5;
}

.Root[data-state="disabled"] .Input {
    cursor: not-allowed;
}

/*Readonly */
.Root[data-state="readonly"] .Input[data-focus] {
    outline-width: 0px;
    border-color: var(--border-color);
}

/*Autofill */
.Input:-webkit-autofill,
.Input:-webkit-autofill:hover,
.Input:-webkit-autofill:focus,
.Input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important;
    box-shadow: 0 0 0 1000px #ffffff inset !important;
    -webkit-text-fill-color: #52525b;
    transition: background-color 5000s ease-in-out 0s;
}