.Control {
    position: relative;
    z-index: 0;
    isolation: isolate;
    width: 100%;
}

.Input::-webkit-outer-spin-button,
.Input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.Input {
    appearance: textfield;
    -moz-appearance: textfield;
    z-index: 1;
    padding-right: 1.7rem;
    box-sizing: border-box;
}

.Container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    right: 0px;
    inset-inline-end: 0px;
    width: 1.5rem;
    height: 100%;
    z-index: 1;
    border-inline-start-width: 1px;
    font-size: var(--font-size-sm);
    border-width: 0px 0px 0px 1px;
    border-style: solid;
    border-color: var(--border-color);
}

.IncTrg,
.DecTrg {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex: 1 1 0%;
    user-select: none;
    cursor: pointer;
    line-height: 1;
    color: #52525b;
    background-color: transparent;
}

.IncTrg {
    border-start-end-radius: calc(0.125rem + 1px);
    border-width: 0px;
}

.DecTrg {
    border-width: 1px 0px 0px 0px;
    border-color: var(--border-color);
}

@media (prefers-color-scheme: dark) {
    .IncTrg,
    .DecTrg {
        color: #a1a1aa;
    }
}

/*Disabled */
.Container[data-disabled] .IncTrg,
.Container[data-disabled] .DecTrg {
    opacity: 0.5;
    cursor: not-allowed
}

/*Hover */
.IncTrg:hover, 
.DecTrg:hover {
    background-color: #f4f4f5;
}

/*Pointer */
.DecTrg[data-pointer] {
    border-color: #09090b;
}

.Icon {
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    width: 1em;
    height: 1em;
}