.VisibleTrg {
  display: inline-flex;
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  box-sizing: border-box;

  z-index: 2;
  position: absolute;
  right: 0.25rem;
  height: calc(100% - 0.5rem);
  aspect-ratio: 1/1;

  
  font-size: var(--font-size-sm);
  padding: 0;
  background-color: var(--bg-color);
  border-radius: 0.25rem;
  border-width: 0;
}

.VisibleTrg:hover {
  background-color: #f4f4f5;
}

.Control {
  display: inline-flex;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 1;
}

.Input {
  z-index: 2;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.Icon {
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  font-size: 1.2em;
  flex-shrink: 0;
  width: 1em;
  height: 1em;
}

/*Autofill */
.Input:-webkit-autofill,
.Input:-webkit-autofill:hover,
.Input:-webkit-autofill:focus,
.Input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important;
    box-shadow: 0 0 0 1000px #ffffff inset !important;
    -webkit-text-fill-color: #52525b;
    transition: background-color 5000s ease-in-out 0s;
}