.Timer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  height: fit-content;
  gap: 8px;
}

.Text {
  width: fit-content;
  font-variant-numeric: tabular-nums;
  font-size: var(--font-size-md);
  line-height: 1.2rem;
}

.Splitter {
  width: fit-content;
  font-size: var(--font-size-md);
  line-height: 1.2rem;
}