.Backdrop {
  position: fixed;
  inset-inline-start: 0;
  top: 0;
  width: 100svw;
  height: 100svh;
  z-index: 1400;
  pointer-events: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

.Group {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  pointer-events: none;

  box-sizing: border-box;
  font-size: 1rem;
  padding: 1rem;

  gap: 0;
  --base-gap: 0.15rem;
  --animation-gap: 0.5rem;
}

.Root {
  display: flex;
  width: 24rem;
  z-index: 1;
  pointer-events: none;
  align-items: center;
  padding-inline-start: 1rem;
  padding-inline-end: 1.5rem;
  margin: 0.2rem 0;
  box-shadow: 0px 16px 24px color-mix(in srgb, #18181b 10%, transparent), 0px 0px 1px color-mix(in srgb, #18181b 30%, transparent);
  box-sizing: border-box;
  padding-block: 1rem;
  border-radius: 0.25rem;
  min-height: 65px;
  gap: 0.75rem;
  tab-size: 4;
  color: var(--text-color);
  background-color: var(--bg-color);
  visibility: visible;
}

@media (max-width : 767px) {
  .Root {
    width: 100%;
  }

  .Group {
    padding: 0.5rem;
  }
}

/*Placement */
.Group[data-placement="top"] .Root,
.Group[data-placement="bottom"] .Root {
  width: 100%;
}

/*Top*/
.Group:is(
    [data-placement="top"],
    [data-placement="top-start"],
    [data-placement="top-end"]
) {
    justify-content: flex-start;
}


/* 열림 애니메이션 */
.Group:is(
    [data-placement="top"],
    [data-placement="top-start"],
    [data-placement="top-end"]
) .Root[data-open] {
    animation: slideInFromTop 0.5s cubic-bezier(.2, .8, .2, 1) forwards;
    pointer-events: auto;
}

/* 닫힘 애니메이션 */
.Group:is(
    [data-placement="top"],
    [data-placement="top-start"],
    [data-placement="top-end"]
) .Root[data-closing] {
    animation: slideOutToTop 0.5s cubic-bezier(.2, .8, .2, 1) forwards;
    pointer-events: none;
}

@keyframes slideInFromTop {
    from {
        opacity: 0;
        margin-top: calc(-65px - var(--animation-gap));
        transform: translateY(-50%);
    }
    to {
        opacity: 1;
        margin-top: var(--base-gap);
        transform: translateY(0);
    }
}

@keyframes slideOutToTop {
    from {
        opacity: 1;
        margin-top: var(--base-gap);
        transform: translateY(0);
    }
    to {
        opacity: 0;
        margin-top: calc(-65px - var(--animation-gap));
        transform: translateY(-50%);
    }
}

/*Bottom */
.Group:is([data-placement="bottom"],
  [data-placement="bottom-start"],
  [data-placement="bottom-end"]) {
  justify-content: flex-end;
}

/* 열림 애니메이션 */
.Group:is(
    [data-placement="bottom"],
    [data-placement="bottom-start"],
    [data-placement="bottom-end"]
) .Root[data-open] {
    animation: slideInFromBottom 0.5s cubic-bezier(.2, .8, .2, 1) forwards;
    pointer-events: auto;
}

/* 닫힘 애니메이션 */
.Group:is(
    [data-placement="bottom"],
    [data-placement="bottom-start"],
    [data-placement="bottom-end"]
) .Root[data-closing] {
    animation: slideOutToBottom 0.5s cubic-bezier(.2, .8, .2, 1) forwards;
    pointer-events: none;
}

@keyframes slideInFromBottom {
    from {
        opacity: 0;
        margin-bottom: calc(-65px - var(--animation-gap));
        transform: translateY(50%);
    }
    to {
        opacity: 1;
        margin-bottom: var(--base-gap);
        transform: translateY(0);
    }
}

@keyframes slideOutToBottom {
    from {
        opacity: 1;
        margin-bottom: var(--base-gap);
        transform: translateY(0);
    }
    to {
        opacity: 0;
        margin-bottom: calc(-65px - var(--animation-gap));
        transform: translateY(50%);
    }
}

/*Start*/
.Group:is([data-placement="top-start"],
  [data-placement="bottom-start"]) {
  align-items: flex-start;
}

/*End */
.Group:is([data-placement="top-end"],
  [data-placement="bottom-end"]) {
  align-items: flex-end;
}

.Icon {
  stroke: var(--bg-color);
  fill: var(--bg-color);
  stroke-width: 0;
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
}

.Title {
  display: inline-block;
  line-height: 1.1;
  font-size: 1rem;
}

.CloseBtn {
  position: absolute;
  top: 0.25rem;
  inset-inline-end: 0.25rem;
  padding: 0.25rem;
  display: inline-flex;
  align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  color: color-mix(in srgb, var(--text-color) 60%, transparent);
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.5rem;
  background-color: var(--bg-color);

  border-width: 0;
}

.CloseIcon {
  fill: currentColor;
  width: 1em;
  height: 1em;
  border-width: 0;
}

/*Type */
/*Success */
.Root[data-type="success"], .Root[data-type="success"] .CloseBtn {
  background-color: #16a34a;
  color: var(--bg-color);
}

/*Error */
.Root[data-type="error"], .Root[data-type="error"] .CloseBtn {
  background-color: #dc2626;
  color: var(--bg-color);
}

/*Warning */
.Root[data-type="warning"], .Root[data-type="warning"] .CloseBtn {
  background-color: #ea580c;
  color: var(--bg-color);
}

/*Info */
.Root[data-type="info"], .Root[data-type="info"] .CloseBtn {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.Root:is([data-type="success"], [data-type="error"], [data-type="warning"]) {
  color: var(--bg-color);
}