#Main {
  padding: 1% 0;
  align-items: center;
}

#Wrapper {
  width: 40%;
  border-radius: 4%;
  border-width: 2px;
  border-style: solid;
  border-color: var(--border-light-color);
  padding-top: 3%;
  padding-bottom: 3%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (prefers-color-scheme: dark) {
  #Wrapper {
    border-color: var(--border-dark-color);
  }
}

@media (max-width: 768px) {
  #Wrapper {
    width: 60%;
    aspect-ratio: 1/1;
  }
}

.Field {
  margin: 2% 0;
  width: 86% !important;
}

.Label {
  font-family: "SuitSemiBold", var(--default-font-family);
  font-weight: 600;
}

#BtnWrapper {
  width: 82%;
  margin-top: 2%;
}

#Btn {
  width: 100%;
}