#Main {
    align-items: center;
}

#Header {
    text-align: center;
    width: 100%;
    font-family: "SuitBold";
    font-size: 2rem;
}

#QuestionBtnWrapper {
    width: 100%;
    height: 10%;
    margin-top: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: flex-end;
}

#QBtn {
    height: 8vh;
    aspect-ratio: 1/1;
    display: block;
    background-color: inherit;
    border: none;
}

#QImg {
    height: 8vh;
    aspect-ratio: 1;
}