#Main {
    align-items: center;
}

#Header {
    text-align: center;
    width: 100%;
    font-family: "SuitBold";
    font-size: 2rem;
}

#QuestionBtnWrapper {
    width: 100%;
    height: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: flex-end;
}

#QBtn {
    height: 8vh;
    aspect-ratio: 1/1;
    display: block;
    background-color: inherit;
    border: none;
}

#QImg {
    height: 8vh;
    aspect-ratio: 1;
}

#SliderWrapper {
    width: 100%;
    align-items: center;   
    font-family: "SuitBold";
    font-size: 1.2rem;
    gap: 1rem 0;
    margin-bottom: 4%;
}

.SliderRoot {
    width: 40%;
}

.SliderControl {
    width: 100%;
}

#BtnWrapper {
    display : flex;
    flex-direction: row;
    height: auto;
    width : 100%;
    justify-content: center;
}

.Btn {
    font-family: "SuitBold";
    font-size: 1.2rem;
}

.TableWrapper {
    width : 100%;
    height: auto;
    display : flex;
    flex-direction: row;
    justify-content: center;
    gap: 1%;
}

.TableColumn {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    column-gap: 20px;
    padding: 0;
}

.Table {
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    width: 100%;
    border-radius: 10% 10% 10% 10% / 10% 10% 10% 10%;
}

.AvailTable {
    background-color: #4ADE80;
}

.UnavailTable {
    background-color: #EB0000;
}