@import url("./styles/Font.css");
@import url("./styles/Color.css");

/*root + html,body, app*/
:root,
html,
body,
#app {
  font-family: "SuitMedium", var(--default-font-family);
  line-height: 1;
  font-weight: 500;
  color-scheme: light dark;
  font-feature-settings: "cv11";
  font-kerning: auto;
  font-language-override: normal;
  font-optical-sizing: auto;


  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  width: 100%;
  max-width: 100%;
  min-height: 100%;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #09090b;
  background-color: #ffffff;
  text-decoration-color: #09090b;
  border-radius: 0.125rem;
}

@media (prefers-color-schema: dark) {
  :root,
  html,
  body,
  #app {
    color: #fafafa;
    background-color: #09090b;
    text-decoration-color: #fafafa;
  }
}

.Main {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 80vh;
  color: inherit;
  background-color: inherit;
  font-family: inherit;
  font-weight: inherit;
}

body:has(div[data-scope="drawer"][data-part="backdrop"][data-open]),
body:has(div[data-scope="dialog"][data-part="backdrop"][data-open]) {
  overflow-y: hidden;
  padding-right: var(--scrollbar-width);
  pointer-events: none;
}

html:has(div[data-scope="drawer"][data-part="backdrop"][data-open]),
html:has(div[data-scope="dialog"][data-part="backdrop"][data-open]) {
  overflow-y: hidden;
}

