@import url("./styles/Font.css");
@import url("./styles/Color.css");

/*root + html,body, app*/
:root,
html,
body,
#app {
  font-family: "SuitMedium", var(--default-font-family);
  line-height: 1;
  font-weight: 500;
  color-scheme: light dark;
  font-feature-settings: "cv11";
  font-kerning: auto;
  font-language-override: normal;
  font-optical-sizing: auto;


  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  width: 100%;
  max-width: 100%;
  min-height: 100%;

  overflow-x: hidden;
  scrollbar-width: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #09090b;
  background-color: #ffffff;
  text-decoration-color: #09090b;
  border-radius: 0.125rem;
}

@media (prefers-color-schema: dark) {
  :root,
  html,
  body,
  #app {
    color: #fafafa;
    background-color: #09090b;
    text-decoration-color: #fafafa;
  }
}

/*Scrollbar */
:is(:root,
  html,
  body,
  #app,
  .Main):-webkit-scrollbar {
    display: none;
  }

.Main {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 80vh;
}

::-webkit-scrollbar {
  display: none;
}