#Wrapper {
  width: 40%;
  aspect-ratio: 1;
  border-radius: 10% 10% 10% 10% / 10% 10% 10% 10%;
}

@media (prefers-color-scheme: light) {
  #Wrapper {
    border: var(--border-light-color);
  }
}

@media (prefers-color-scheme: dark) {
  #Wrapper {
    border: var(--border-dark-color);
  }
}