#Nav {
  font-family: Arial, Helvetica, sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
  line-height: 1.0;
  font-weight: 400;
  color-scheme: light dark;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  margin: 0 0 4% 0;
  padding: 0.5%;
}

@media (prefers-color-scheme: light) {
  #Nav {
    color: #000000;
    background-color: #ffffff;
  }
}

@media (prefers-color-schema: dark) {
  #Nav {
    color: #ffffff;
    background-color: #000000;
  }
}

#LogoWrapper {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

#Logo {
  height: 6vh;
  aspect-ratio: 1/1;
}

#LogoText {
  margin-left: 1%;
  font-family: "SuitExtraBold";
  font-size: 1.4rem;
}

#SideMenuWrapper {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0 5%;
  padding-right: 2%;
}

.SideMenu {
  display:inline-block;
  font-family: "SuitMedium";
  font-size: 1.2rem;
  white-space: nowrap;
}

@media (prefers-color-scheme: light) {
  #Footer {
    background-color: black;
    color: white;
  }
}

@media (prefers-color-schema: dark) {
  #Footer {
    background-color: white;
    color: black;
  }
}

#Footer {
  display: flex;
  flex-direction: row;
  gap: 0 1%;
}

.FooterUl {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1% 0;
}

.FooterLi {
  display: inline-block;
}

.FooterLink {
  display: inline-block;
}