#Nav {
  font-family: var(--default-font-family);
  font-weight: 400;
  color-scheme: light dark;

  width: 100%;
  max-width: 100%;
  min-height: 6dvh;
  max-height: 9dvh;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  padding: 1%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-light-color);
  position: relative;
}

#MenuBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  padding: 0;
  border-width: 1px;
  border-style: solid;
  border-color: #c8cccf;
}

@media (prefers-color-scheme: dark) {
  #MenuBtn {
    border-width: 2px;
  }
}

#LogoWrapper {
  display: block;
  margin: 0 1%;
}

#Logo {
  height: 5vh;
  aspect-ratio: 1/1;
}

#LogoText {
  font-family: "SuitBold", var(--default-font-family);
  font-weight: 700;
  font-size: 1.2rem;
}

#SideMenuWrapper {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8%;
  padding: 0 1% 0 0;
}

.SideMenu {
  white-space: nowrap;
  font-size: 1.1rem;
}

#Drawer {
  padding: 1% 0 1% 0.5%;
}

.DrawerLogo {
  height: 32px;
  aspect-ratio: 1/1;
}

.DrawerBody {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 4% 0 0 0;
  flex-grow: 1;
}

.DrawerMenuUl {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  padding: 0 2% 0 0;
  gap: 1%;
  flex-grow: 1;
  width: 100%;
}

.DrawerMenu > .DrawerMenuLinkWrapper {
  width: 95%;
}

.DrawerActiveMenu > .DrawerMenuLinkWrapper {
  background-color: rgba(129, 139, 152, 0.15);
}

.DrawerActiveMenu::before {
  background-color: #0969da;
  border-radius: 0.375rem;
  content: "";
  height: 84%;
  width: 0.25rem;
  margin-right: 1%;
  display: block;
  flex: none;
}

.DrawerMenuLinkWrapper {
  font-size: 1.1rem;
  padding: 1%;
  width: 100%;
  border-radius: 0.375rem;
  vertical-align: middle;
}

.DrawerMenuLinkWrapper:hover {
  text-decoration: none !important;
  background-color: rgba(129, 139, 152, 0.15);
}

.DrawerMenuLink {
  display: inline-block;
}

.DrawerMenuLink:hover::after {
  border-bottom-color: var(--text-color);
}

.DrawerFooter {
  width: 0;
  height: 0;
}

.FooterUl {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 12% 0;
  box-sizing: border-box;
  width: auto;
  height: auto;
  color: inherit;
}

.FooterLi {
  display: inline-block;
  color: inherit;
}

.FooterLink {
  display: inline-block;
  color: inherit;
}