#Nav {
  font-family: var(--default-font-family);
  line-height: 1;
  font-weight: 400;
  color-scheme: light dark;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 2% 0;
  padding: 1%;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-light-color);
}

@media (prefers-color-schema: dark) {
  #Nav {
    color: #ffffff;
    background-color: #000000;
    border-bottom-color: var(--border-dark-color);
  }
}

#LogoWrapper {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1%;
}

#Logo {
  height: 5vh;
  aspect-ratio: 1/1;
}

#LogoText {
  margin-left: 2%;
  font-family: "SuitExtraBold", var(--default-font-family);
  font-size: 1.4rem;
}

#SideMenuWrapper {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8%;
  padding-right: 2%;
}

.SideMenu {
  display: inline-block;
  font-family: "SuitSemiBold", var(--default-font-family);
  font-size: 1.2rem;
  white-space: nowrap;
}

#SideMenuWrapper2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: "SuitSemiBold", var(--default-font-family);
  margin-bottom: 4%;
  padding-left: 2%;
}

.SideMenu2 {
  display: inline-block;
  margin-right: 2%;
  font-size: 1.7rem;
  text-decoration: none;
  white-space: nowrap;
}

.SideMenu2:hover {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: inherit;
}

.SideMenu2.Inactive {
  color: #BFBFBF;
}

.SideMenu2.Active {
  color: inherit;
}

@media (prefers-color-scheme: light) {
  #Footer {
    background-color: #000000;
    color: #ffffff;
  }
}

@media (prefers-color-schema: dark) {
  #Footer {
    background-color: #ffffff;
    color: #000000;
  }
}

#Footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0 1%;
  margin-top: 5%;
  border-top-width: 2px;
  border-top-style: solid;
  border-bottom-color: var(--border-light-color);
}

@media (prefers-color-scheme: dark) {
  #Footer {
    border-bottom-color: var(--border-dark-color);
  }
}

.FooterUl {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1% 0;
}

.FooterLi {
  display: inline-block;
}

.FooterLink {
  display: inline-block;
}